/* you gotta' have styles to be cool */


body {
  padding-top: 70px;
  padding-bottom: 20px;
}

#todo, #inprogress, #done {
	min-height: 200px;
}

#todo{
  background-color: rgba(255, 57, 52, 0.1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#inprogress{
  background-color: rgba(255, 153, 9, 0.1);
}

#done{
  background-color: rgba(0, 214, 119, 0.1);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.row {
   overflow: hidden;
}

.col-md-4 {
   margin-bottom: -99999px;
   padding-bottom: 99999px;
}

textarea#inputTaskDescription.form-control {
    height: 125px;
}

#btn-visit a {
    text-decoration: none;
    color: white;
}

textarea#id_comment{
  width:100%;
  height: 50px;
}

.comment{
  background: #eee;
  padding:5px;
  margin-bottom:10px;
}

.comment .info{
  text-align:right;
  font-size:smaller;
}

.LOW {
    border-top: 5px;
    border-color: green;
    border-top-style: solid;
}

.MEDIUM {
    border-top: 5px;
    border-color: orange;
    border-top-style: solid;
}

.HIGH {
    border-top: 5px;
    border-color: darkred;
    border-top-style: solid;
}

.document {
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    font-size: 12px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  margin-top: -1px;
}

.navbar-default .navbar-nav>li>a.user-avatar{
  padding: 13px;
}
