{% load url from future %}
{% load gravatar %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>inventeaza.ro - Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap3-typeahead.min.js"></script>
    {% include 'autocomplete_light/static.html' %}
  </head>

<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ request.get_host }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% if user.is_authenticated %}
          <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="home active"><a href="#">Tasks</a></li>
            <li class="home"><a href="#">Wiki</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#user" class="dropdown-toggle user-avatar" data-toggle="dropdown">{% gravatar user.email 24 %}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if user.is_superuser %}
                  <li><a href="/admin/">django admin</a></li>
                {% endif %}
                <li class="divider"></li>
                <li>
                  <a href="{% url 'django.contrib.auth.views.password_change' %}">Change password</a>
                </li>
                <li>
                  <a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>
                </li>
              </ul>
            </li>
          </ul>

          <div class="nav navbar-form navbar-right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="tag, title or description" id="search-field" data-provide="typeahead">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-search" type="button" id="search-btn"></button>
              </span>
            </div><!-- /input-group -->
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {% if request.user.groups.values_list.count > 1 %}
                  <a href="#org" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.groups.values_list.0.1 }}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    {% for group in request.user.groups.values_list %}
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="/org/{{ group.0 }}">{{ group.1 }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  <input type="hidden" name="group_id" id="group_id" value="{{ request.user.groups.values_list.0.0 }}">
              {% else %}
                  <!--a>{{ request.user.groups.values_list.0.1 }}</a-->
                  <input type="hidden" name="group_id" id="group_id" value="{{ request.user.groups.values_list.0.0 }}">
              {% endif %}
            </li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'django.contrib.auth.views.login' %}">Log in</a>
            </li>
          </ul>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
    <div class="container">
      <div class="row modal-zone">
        <div class="col-md-12">
          <div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Add New Task</h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form">
                    <input type="hidden" name="issue_id" value="" id="hidden-issue-id">
                    <div class="form-group">
                      <label for="inputTaskTitle" class="col-sm-2 control-label">Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTaskTitle" placeholder="Ceva scurt si intuitiv">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputTaskProject" class="col-sm-2 control-label">Project</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="inputTaskProject" placeholder="De ce proiect apartine">
                          <option value="None">-- None --</option>>
                          {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputTaskDescription" class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="inputTaskDescription" placeholder=""></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputTaskOptional" class="col-sm-2 control-label">Optional</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="select-assignee" placeholder="Assignee">
                            <option value="0">-- None --</option>
                        	{% for user in users %}
                        		<option value="{{user.id}}">
                        			{% if user.first_name != "" and user.last_name != "" %}
                        				{{ user.first_name }} {{ user.last_name }}
                        			{% else %}
                        				{{ user.username }}
                        			{% endif %}
                        		</option>
                        	{% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control" id="select-priority" placeholder="Priority">
                        	{% for prio in prios %}
                        		<option value="{{ prio.0 }}">{{ prio.1 }}</option>
                        	{% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control" id="select-status" placeholder="Status">
                        	{% for status in statuses %}
                            	<option value="{{ status.0 }}">{{ status.1.1 }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <input class="form-control" id="input-estimate" placeholder="Estimate (h)">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-left" id="btn-delete" style="display:none;">Delete...</button>
                  <a class="btn btn-primary pull-left" id="btn-visit" href="#" style="display:none;">Add a comment/There are 3 comments</a>
                  <button type="button" class="btn btn-warning" id="btn-edit">Edit...</button>
                  <button type="submit" class="btn btn-primary" id="btn-save">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row modal-zone">
        <div class="col-md-12">
          <div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Add New Project</h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="inputProjectName" class="col-sm-2 control-label">Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputProjectName" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputProjectDescription" class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="inputProjectDescription" placeholder=""></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" id="btnProjectAdd">Add new project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	{% block content %}{% endblock %}
    <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-6">
            <p class="pull-left">Copyright &copy; 2014 - <a href="http://inventeaza.ro">inventeaza.ro</a></p>
        </div>
        <div class="col-md-6">
          <p class="pull-right">Made with love and in a hurry.</p>
        <div>
      </div>
    </div>
    <script type="text/javascript">
		$('document').ready(init);
		function init(){
            // Add task button
            $("#btn-add-task").click(function(){
               $(".form-control").prop({ readOnly: false });
               $(".modal-title").html("Add New Task");
               $("#inputTaskTitle").val("");
               $("#inputTaskDescription").val("");
               $("#inputTaskProject").val("None");
               $("#btn-edit").hide();
               $("#inputTaskProject").removeAttr("disabled");
               $("button[type=submit]").removeAttr("disabled");
               $("#select-assignee").removeAttr("disabled");
               $("#select-priority").removeAttr("disabled");
               $("#select-status").removeAttr("disabled");
               $("#hidden-issue-id").val("");
               $("#btn-delete").css("display", "none");
               $("#btn-visit").css("display", "none");
               $("#inputTaskProject").val({{ projectId }});
            });

            // Edit task button in add/edit task form
            $("#btn-edit").click(function(){
               $(".form-control").prop({ readOnly: false });
               //$(".modal-title").html("Add New Task");
               //$("#inputTaskTitle").val("");
               //$("#inputTaskDescription").val("");
               //$("#inputTaskProject").val("None");
               //$("#btn-edit").hide();
               $("#inputTaskProject").removeAttr("disabled");
               $("button[type=submit]").removeAttr("disabled");
               $("#select-assignee").removeAttr("disabled");
               $("#select-priority").removeAttr("disabled");
               $("#select-status").removeAttr("disabled");
               $("#btn-delete").css("display", "inline");
               $("#btn-visit").css("display", "inline");
            });

            // Delete task button in add/edit task form
            $("#btn-delete").click(function(){
                var dstUrl = "/issue/";

                if($("#hidden-issue-id").val() != "") {
                    dstUrl += $("#hidden-issue-id").val()+"/";
                }

                if(confirm("Are you sure you want to delete this task?")) {
                    $.ajax({
                        url: dstUrl,
                        type: "DELETE",
                        data: "DELETE",
                    }).done(function(data){
                        if(data.success) {
                            $('#add-task-modal').modal('hide');
                            location.reload(); // TODO - the refresh can be done via JS and no page reload should be needed
                        } else {
                            alert(data.error_msg);
                        }
                    }).fail(function(data){
                        alert(data);
                    });
                }
            });

			// Add/Edit task save button click function
			$("#btn-save").click(function(){
				var data = {
					name: $("#inputTaskTitle").val(),
                    project_id: $("#inputTaskProject").val(),
					description: $("#inputTaskDescription").val(),
					creator: {{ user.id }},
                    assignee: parseInt($("#select-assignee").val()),
					status: parseInt($("#select-status").val()),
                    priority: parseInt($("#select-priority").val()),
                    estimate: parseInt($("#input-estimate").val()),
				}

                var dstUrl = "/issue/";

                if($("#hidden-issue-id").val() != "") {
                    dstUrl += $("#hidden-issue-id").val()+"/";
                }

				$.ajax({
					url: dstUrl,
					type: "POST",
					data: JSON.stringify(data),
					dataType: "json",
				}).done(function(data){
					// close the modal
					$('#add-task-modal').modal('hide');
                    location.reload(); // TODO - the refresh can be done via JS and no page reload should be needed
				}).fail(function(data){
					// show the error message
					alert(data.responseJSON.error_msg);
				});
			});

			// My tasks filter button click function
			$("#btn-my-tasks").click(function(){
				var state = !$("#btn-my-tasks").hasClass("active");
                if(state)
                    $("#btn-all-tasks").removeClass("active");
                else
                    $("#btn-all-tasks").addClass("active");

				$(".issue").each(function(index, element) {
                  if(($(this).data("assignee")!="{{ user.username }}")) {
                    console.log(index, element);
                    if(state)
                       $(this).hide();
                     else
                       $(this).show();
                   }
                });
			});

            // All tasks filter button click function
            $("#btn-all-tasks").click(function(){
                var state = !$("#btn-all-tasks").hasClass("active");
                if(state)
                    $("#btn-my-tasks").removeClass("active");
                else
                    $("#btn-my-tasks").addClass("active");

                $(".issue").each(function(index, element) {
                  if(($(this).data("assignee")!="{{ user.username }}")) {
                    console.log(index, element);
                    if(!state)
                       $(this).hide();
                     else
                       $(this).show();
                   }
                });
            });

            // Add new project option
            $("#btnAddNewProject").click(function(e){
               e.preventDefault();
               $('#add-project-modal').modal('show');
            });


            // Add new project save button
            $("#btnProjectAdd").click(function(e){
                e.preventDefault();

                var dstUrl = "{% url 'project' %}";
                var data = {
					name: $("#inputProjectName").val(),
					description: $("#inputProjectDescription").val(),
					creator: {{ user.id }},
                    org_id: $("#group_id").val(),
				}

                $.ajax({
					url: dstUrl,
					type: "POST",
					data: JSON.stringify(data),
					dataType: "json",
				}).done(function(data){
					// close the modal
					$('#add-project-modal').modal('hide');
                    location.reload(); // TODO - the refresh can be done via JS and no page reload should be needed
				}).fail(function(data){
					// show the error message
					alert(data.responseJSON.error_msg);
				});
            });


            // Search field
            $("#search-field").change(function(){
               alert("aici");
            });

            // Search button
            $("#search-btn").click(function(){
                alert("fire");
            });
	    }
	</script>

    <script>
      window.intercomSettings = {
        // TODO: The current logged in user's full name
        name: "{{ user.first_name }} {{ user.last_name }}",
        // TODO: The current logged in user's email address.
        email: "{{ user.email }}",
        // TODO: The current logged in user's sign-up date as a Unix timestamp.
        created_at: {{ user.date_joined|date:"U"  }},
        app_id: "mgcogoj0"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/mgcogoj0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
</html>
