{% extends "base.html" %}

{% block content %}

  <div class="container">
  
    {% if form.errors %}
      <div class="alert alert-warning" role="alert">Some errors ocured during password change. Please try again.</div>
    {% endif %}

    <div class="row">
        <div class="well col-md-3">
            <form method="post" action="{% url 'django.contrib.auth.views.password_change' %}" role="form" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}
