{% extends "base.html" %}

{% block content %}

  <div class="container">
  
    {% if form.errors %}
      <div class="alert alert-warning" role="alert">Your username and password didn't match. Please try again.</div>
    {% else %}
      <div class="alert alert-info" role="alert">Your have successfully changed your password.</div>
    {% endif %}

{% endblock %}
