{% extends "base.html" %}
{% load gravatar %}

{% block content %}
    <div class="container">
      <div class="row notifications-zone">
        <div class="alert alert-success hidden" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>You</strong> have successfully done something, like adding, moving a task!</div>
      </div>
    </div>
    <div class="container well well-sm">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span>Task from: </span>{{ projectName }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/org/{{ selected_org }}">All projects</a></li>
            <li role="presentation" class="divider"></li>
            {% for project in projects %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/org/{{ selected_org }}/project/{{ project.id }}">{{ project.name }}</a></li>
            {% endfor %}
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/org/{{ selected_org }}/project/0">No projects (bulk items)</a></li>
            {% if user.is_superuser %}
            <li role="presentation" class="divider"></li>
            <li role="presentation" ><a role="menuitem" id="btnAddNewProject" tabindex="-1" href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add new project</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <div class="nav navbar-form navbar-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-toggle="button" id="btn-my-tasks">My tasks</button>
          <button type="button" class="btn btn-default active" data-toggle="button" id="btn-all-tasks">All</button>
        </div>
        <button href="#" class="btn btn-primary" data-toggle="modal" id="btn-add-task" data-target="#add-task-modal">
          <span class="glyphicon glyphicon-plus"></span>Add Task
        </button>
      </div>
    </div>
    <div class="container">
      <div class="row" id="board">
        <div class="col-md-4" id="todo" data-status="0">
          <h3 class="title">To do</h3>
        </div>
        <div class="col-md-4" id="inprogress" data-status="1">
          <h3 class="title">Work in progress</h3>
        </div>
        <div class="col-md-4" id="done" data-status="2">
          <h3 class="title">Done</h3>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript">
		$('document').ready(init);
		function init(){
			// Populate the columns on load
            var iss_url = "/org/{{ selected_org }}/issues";
            {% if projectId != "None" %}
                iss_url += "?projectId={{ projectId }}";
            {% endif %}
			$.ajax({
				url: iss_url,
			}).done(function(data){
				for (var i in data) {
					var selector = $("#"+data[i].status_str);

					if(data[i].description == "") data[i].description="&nbsp;";

                    var name = data[i].name;

                    if(data[i].name.length > 35)
                        name = data[i].name.substring(0, 35) + "...";
                    else
                        name = data[i].name;

                    var issue_url = "/org/{{ selected_org }}/project/" + data[i].project_id + "/issue/" + data[i].id;

					selector.append('<div class="issue '+data[i].priority_str+'" id="issue'+data[i].id+'" draggable="true" \
                    data-assignee="'+data[i].assignee+'" data-creator="'+data[i].creator+'">\
								    <div class="cardTitle well well-sm"><img class="gravatar pull-right" src="/static/images/batman.jpg" width="24" height="24" alt="'+data[i].assignee_name+'" title="'+data[i].assignee_name+'">\
								    <strong class="taskTitle"><a href="' + issue_url + '" alt="'+data[i].name+'" data-toggle="tooltip" data-placement="top" title="'+data[i].name+'">'
								    +"#" + data[i].id + " - " + name
								    +'</a></strong><p>'+data[i].description+'</p>\
								    <div class="btn-group btn-group-xs pull-right">\
								    <button type="button" id="btn-view-'+data[i].id+'" class="btn btn-default" data-issue-id="'+data[i].id+'">Quick preview</button>\
								    </div><hr/></div></div>');

					$('#issue'+data[i].id).bind('dragstart', function(event) {
	            		event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
	        		});

                    if(data[i].assignee_has_icon == true)
                        $("#issue"+data[i].id).find("img.gravatar.pull-right").attr("src", data[i].assignee_icon);
				}

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                });

                // Task View button click
                $("[id^='btn-view']").each(function(){
                    $(this).click(function(){
                        console.log($(this).data("issue-id"));
                        $.ajax({
                            url: "/issue/" +$(this).data("issue-id") + "/",
                        }).done(function(data){
                            data = data[0];
                            $(".form-control").prop({ readOnly: true });
                            $(".modal-title").html("Task #" + data.id);
                            $("#inputTaskTitle").val(data.name);
                            $("#inputTaskDescription").val(data.description_raw);
                            $("#inputTaskProject").val(data.project_id);
                            $("#inputTaskProject").attr("disabled", "disabled");
                            $("#select-assignee").val(data.assignee_id);
                            $("#select-assignee").attr("disabled", "disabled");
                            $("#select-priority").val(data.priority);
                            $("#select-priority").attr("disabled", "disabled");
                            $("#select-status").val(data.status);
                            $("#select-status").attr("disabled", "disabled");
                            $("#input-estimate").val(data.estimate);
                            $("#btn-delete").css("display", "inline");
                            $("#btn-visit").css("display", "inline");

                            // Disable add new task save button - will only make it visible after clicking on edit
                            $("button[type=submit]").attr("disabled", "disabled");
                            $("#btn-edit").show();
                            $('#add-task-modal').modal('show');

                            // Add issue id to hidden field
                            $("#hidden-issue-id").val(data.id);

                            $("#btn-visit").attr("href", "/org/{{ selected_org }}/project/" + data.project_id + "/issue/" + data.id + "#comments-section");
                            if(data.comments_no > 0) {
                                $("#btn-visit").html("There are " + data.comments_no + " comments")
                            } else {
                                $("#btn-visit").html("Add a comment")
                            }
                        });
                    });
                });

			});

	   		// bind the dragover event on the board sections
            $('#todo, #inprogress, #done').bind('dragover', function(event) {
                event.preventDefault();
            });

			// bind the drop event on the board sections
	   		$('#todo, #inprogress, #done').bind('drop', function(event) {
	            var notecard = event.originalEvent.dataTransfer.getData("text/plain");
	            event.target.appendChild(document.getElementById(notecard));
				// Turn off the default behaviour
				// without this, FF will try and go to a URL with your id's name
				var issueNewState = parseInt($("#"+event.target.id).data("status"));
				var issueId = parseInt(event.target.lastChild.id.replace("issue",""));
				// console.log("Issue:", issueId);
				// console.log("Col:", issueNewState);

				var data = {
					id:issueId,
					status:issueNewState,
				}

				$.ajax({
					url: "/issue/"+issueId+"/",
					type: "POST",
					data: JSON.stringify(data),
					dataType: "json",
				}).done(function(data){

				});
	            event.preventDefault();
			});
	    }
	</script>
{% endblock %}
