{% extends "base.html" %}
{% load gravatar %}
{% load comments %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="" id="issue-view" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">#{{ issue.id }} - {{ issue.name }}</h4>
                  <h5 class="modal-title pull right">Created by {{ issue.creator.username }} on {{ issue.creation_date }}</h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form">
                    <input type="hidden" name="issue_id" value="{{ issue.pk }}" id="is-hidden-issue-id">
                    <div class="form-group">
                      <label for="is-inputTaskTitle" class="col-sm-2 control-label">Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is-inputTaskTitle" value="{{ issue.name }}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is-inputTaskProject" class="col-sm-2 control-label">Project</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="is-inputTaskProject" placeholder="De ce proiect apartine">
                          <option value="None">-- None --</option>>
                          {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is-inputTaskDescription" class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea  rows="8" class="form-control" id="is-inputTaskDescription" >{{ issue.description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is-inputTaskOptional" class="col-sm-2 control-label">Optional</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="is-select-assignee" placeholder="Assignee">
                            <option value="0">-- None --</option>
                        	{% for user in users %}
                        		<option value="{{user.id}}">
                        			{% if user.first_name != "" and user.last_name != "" %}
                        				{{ user.first_name }} {{ user.last_name }}
                        			{% else %}
                        				{{ user.username }}
                        			{% endif %}
                        		</option>
                        	{% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control" id="is-select-priority" placeholder="Priority">
                        	{% for prio in prios %}
                        		<option value="{{ prio.0 }}">{{ prio.1 }}</option>
                        	{% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control" id="is-select-status" placeholder="Status">
                        	{% for status in statuses %}
                            	<option value="{{ status.0 }}">{{ status.1.1 }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <input class="form-control" id="is-input-estimate" value="{{ issue.estimate }}" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is-inputTags" class="col-sm-2 control-label">Tags</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is-inputTags" value="{% for tag in issue.tags.all %}{{ tag }},{% endfor %}">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-left" id="is-btn-delete">Delete...</button>
                  <button type="button" class="btn btn-warning" id="is-btn-edit">Edit...</button>
                  <button type="submit" class="btn btn-primary" id="is-btn-save">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row notifications-zone">
        <div class="alert alert-success hidden" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>You</strong> have successfully done something, like adding, moving a task!</div>
        </div>
      </div>
    </div>


    <div class="container comments">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                {% get_comment_count for issue as comment_count %}
                <h4 class="modal-title">Comments ({{ comment_count }})</h4>
                <a href="#comments-section"></a>
              </div>
              <div class="modal-body" id="comment-list">
              {% get_comment_list for issue as issue_comments %}
                {% for comment in issue_comments %}
                  <div class="row comment">
                    <div class="col-md-9">
                      {{ comment.comment }}
                    </div>
                    <div class="col-md-3 info">
                      <div class="comment-date">{{ comment.submit_date }}</div>
                      <div class="comment-username">{{ comment.user }}</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="modal-footer">

              {% if user.is_authenticated %}

                  {% get_comment_form for issue as form2 %}
                  <table>
                    <form action="{% comment_form_target %}" method="post" class="form-horizontal" role="form" id="comment-form">
                      {% csrf_token %}
                      <div class="form-group">
                        <p style="text-align:left;">Say something:</p>
                        {{ form2.comment }}
                        {{ form2.content_type }}
                        {{ form2.object_pk }}
                        {{ form2.timestamp }}
                        {{ form2.security_hash }}
                      </div>
                      <div class="form-group">
                        <button id="comment-submit" type="button" class="btn btn-warning" name="submit" value="Post">Add comment</button>
                        <!-- <button type="submit" class="btn btn-primary" name="preview" value="Preview">Preview</button> -->
                      </div>
                    </form>
                  </table>

              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
		$('document').ready(init);
		function init(){
            $("#comment-submit").click(function(){
                $.post("{% comment_form_target %}", $("#comment-form").serialize())
                        .done(function(){
                            var d = new Date($("#id_timestamp").val() * 1000);

                            $("#comment-list").append('<div class="row" style="background: #eee; padding:5px; margin-bottom:10px;">\
                                                       <div class="col-md-9">' +
                                                       $("#id_comment").val()
                                                       + '</div>\
                                                       <div class="col-md-3" style="text-align:right; font-size:smaller;">'+
                                                       '<div class="comment-date">' + d.toDateString() + '</div>' +
                                                       '<div class="comment-username">{{ user.username }}</div>' +
                                                       +'</div>\
                                                       </div>');
                            $("#id_comment").val("");
                        })
                        .error(function() {
                            alert( "Error posting comment!" );
                        });
                return false;
            });

            // Edit task button in add/edit task form
            $("#is-btn-edit").click(function(){
               $(".form-control").prop({ readOnly: false });
               //$(".modal-title").html("Add New Task");
               //$("#inputTaskTitle").val("");
               //$("#inputTaskDescription").val("");
               //$("#inputTaskProject").val("None");
               //$("#btn-edit").hide();
               $("#is-inputTaskProject").removeAttr("disabled");
               $("button[type=submit]").removeAttr("disabled");
               $("#is-select-assignee").removeAttr("disabled");
               $("#is-select-priority").removeAttr("disabled");
               $("#is-select-status").removeAttr("disabled");
            });

            // Delete task button in add/edit task form
            $("#is-btn-delete").click(function(){
                var dstUrl = "/issue/";

                if($("#is-hidden-issue-id").val() != "") {
                    dstUrl += $("#is-hidden-issue-id").val()+"/";
                }

                if(confirm("Are you sure you want to delete this task?")) {
                    $.ajax({
                        url: dstUrl,
                        type: "DELETE",
                        data: "DELETE",
                    }).done(function(data){
                        if(data.success) {
                            // $('#add-task-modal').modal('hide');
                            window.location = '/'; // TODO - the refresh can be done via JS and no page reload should be needed
                        } else {
                            alert(data.error_msg);
                        }
                    }).fail(function(data){
                        alert(data);
                    });
                }
            });

			// Add/Edit task save button click function
			$("#is-btn-save").click(function(){
				var data = {
					name: $("#is-inputTaskTitle").val(),
                    project_id: $("#is-inputTaskProject").val(),
					description: $("#is-inputTaskDescription").val(),
					creator: {{ user.id }},
                    assignee: parseInt($("#is-select-assignee").val()),
					status: parseInt($("#is-select-status").val()),
                    priority: parseInt($("#is-select-priority").val()),
                    estimate: parseInt($("#is-input-estimate").val()),
				}

                var dstUrl = "/issue/";

                if($("#is-hidden-issue-id").val() != "") {
                    dstUrl += $("#is-hidden-issue-id").val()+"/";
                }

				$.ajax({
					url: dstUrl,
					type: "POST",
					data: JSON.stringify(data),
					dataType: "json",
				}).done(function(data){
					// close the modal
					//$('#add-task-modal').modal('hide');
                    location.reload(); // TODO - the refresh can be done via JS and no page reload should be needed
				}).fail(function(data){
					// show the error message
					console.error(data)
				});
			});

            $(".form-control").prop({ readOnly: true });
            $("#is-inputTaskProject").val({{ issue.project_id }});
            $("#is-inputTaskProject").attr("disabled", "disabled");
            $("#is-select-assignee").val({{ issue.assignee_id }});
            $("#is-select-assignee").attr("disabled", "disabled");
            $("#is-select-priority").val({{ issue.priority }});
            $("#is-select-priority").attr("disabled", "disabled");
            $("#is-select-status").val({{ issue.status }});
            $("#is-select-status").attr("disabled", "disabled");

            // Disable add new task save button - will only make it visible after clicking on edit
            $("#is-btn-save").attr("disabled", "disabled");
            $("#is-btn-edit").show();
	    }
	</script>
{% endblock %}
