{% extends "base.html" %}

{% block content %}

  <div class="container">
  
    {% if form.errors %}
      <div class="alert alert-warning" role="alert">Your username and password didn't match. Please try again.</div>
    {% endif %}

    <div class="row">
        <div class="well col-md-3">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                  {{ form.username.label_tag }}
                  <input id="id_username" maxlength="254" name="username" type="text" class="form-control">
                </div>
                <div class="form-group">
                  {{ form.password.label_tag }}
                  <input id="id_password" name="password" type="password" class="form-control">
                </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}
