{% extends "base.html" %}

{% block content %}

  <div class="container">

    {% if form.errors %}
      <div class="alert alert-warning" role="alert">Your username and password didn't match. Please try again.</div>
    {% endif %}

    <div class="row">
        <div class="well col-md-12">
            <p>Thank you for using this app!</p>
            <p>You will be redirected to the login form in a couple of seconds. </p>
        </div>
    </div>

    <meta http-equiv="refresh" content="5; url=/">

{% endblock %}
